/* hidden titles */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* variables */
:root {
  --primary-color: #2e2f42;
  --secondary-color: #434455;
  --accent-color: #4d5ae5;
  --color-ocean: #404bbf;
  --color-green: #31d0aa;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --white-color: #ffffff;
  --trns-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --trns-modal: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  --indent: 24px;
  --items: 4;
  --container-width: 100%;
}
/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: currentColor;
}
button {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-address {
  font-style: normal;
}
.btn {
  margin: 0;
  cursor: pointer;
  display: block;
  padding: 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
}

/* ------index.html------- */
body {
  font-family: Roboto, 'sans-serif';
  letter-spacing: 0.02em;
  font-weight: 500;
  margin: 0;
  line-height: calc(24 / 16);
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.studio-logo {
  margin-right: 76px;

  font-family: Raleway;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  color: var(--accent-color);
}
.studio-logo span {
  color: var(--primary-color);
}
span.footer-logo-span {
  color: var(--color-cloud);
}
.header-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: calc(24 / 16);
  color: var(--primary-color);
  transition: color var(--trns-main);
  position: relative;
}
.header-link.current {
  color: var(--accent-color);
}
.header-link.current::after {
  content: '';
  position: absolute;

  bottom: -1px;
  left: 0;
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--color-ocean);
}
.header-link:hover,
.header-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.address-link {
  font-size: 16px;
  font-weight: 400;
  line-height: calc(24 / 16);
  color: var(--primary-color);
  transition: color var(--trns-main);
}

.hero-section {
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;

  margin-left: auto;
  margin-right: auto;

  background-color: var(--primary-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(./images/main/hero/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  text-align: center;
}

.hero-title {
  text-transform: capitalize;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 56px;
  line-height: calc(60 / 56);
  color: var(--white-color);
  width: 494px;
}
.hero-button {
  margin: 0 auto;

  transition: background-color var(--trns-main);
  transform: scale(1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-ocean);
}
/* -------Feautures section------------- */
.feautures-icon {
  display: none;
}
@media screen and (min-width: 1200px) {
  .feautures-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 8px;

    background-color: var(--color-cloud);
    border-radius: 4px;
  }
  .feautures-icon {
    display: inline-block;
    width: 60px;
    height: 64px;
  }
}

@media screen and (max-width: 767px) {
  .feautures-item:not(:last-child) {
    margin-bottom: 72px;
  }
}
@media screen and (max-width: 767px), (min-width: 1200px) {
  .feautures-item-paragraph br {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .feautures-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }
  .feautures-item {
    --items: 2;
    width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
}
@media screen and (min-width: 1200px) {
  .feautures-list {
    justify-content: space-between;
  }
  .feautures-item {
    --items: 4;
    width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
}

.feautures-item-title {
  margin-bottom: 8px;
  line-height: calc(40 / 36);

  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--primary-color);
}
@media screen and (min-width: 1200px) {
  .feautures-item-title {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}
@media screen and (min-width: 768px) {
  .feautures-item-title {
    text-align-last: left;
  }
}

.feautures-item-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: var(--secondary-color);
}
@media screen and (min-width: 1200px) {
  .feautures-item-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: calc(24 / 16);
  }
}
/* --------------Our works ----------- */
.our-works {
  display: none;
}
@media screen and (min-width: 1200px) {
  .our-works {
    display: block;
  }
}
.works-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-transform: capitalize;
  text-align: center;
  color: var(--primary-color);
}
.works-list {
  display: flex;
}
.works-item {
  --items: 3;
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.works-item:not(:last-child) {
  margin-right: 24px;
}
.works-item-img {
  border: 1px solid #e7e9fc;
}
/* ------------TEAM SECTION------------------- */
.team-section {
  background-color: var(--color-cloud);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--indent);
    justify-content: center;
  }
}
.team-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  max-width: 264px;
}
@media screen and (max-width: 767px) {
  .team-item {
    margin-right: auto;
    margin-left: auto;
  }
  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    --items: 4;

    flex-basis: calc(
      (100% - var(--indent) * (var(--items) - 1)) / var(--items)
    );
  }
}

.team-item-picture {
  width: 100%;
}
.team-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-color);
}

.team-item-title {
  margin-bottom: 8px;

  font-size: 20px;
  line-height: calc(24 / 20);
  color: var(--primary-color);
}

.team-item-paragraph {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--secondary-color);
}
.team-item-div {
  padding: 32px 0;
  text-align: center;
  background-color: #fff;
}
.team-socials-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-socials-link:hover,
.team-socials-link:focus {
  background-color: var(--color-ocean);
}
.team-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color);
  color: var(--color-cloud);
  transition: background-color var(--trns-main);
}
.team-icon {
  fill: currentColor;
  width: 16px;
  height: 16px;
}
/* ----------Customers section--------------------- */

.customers-title {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  color: var(--primary-color);
  text-align: center;
}
.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}
.customers-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;

  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: #afb1b8;
  transition: border var(--trns-main);
}
@media screen and (max-width: 767px) {
  .customers-list-item {
    --items: 2;
    --indent: 16px;
    width: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }
}
@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: var(--indent);
    row-gap: 72px;
  }

  .customers-item-link {
    padding: 16px 32px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-list {
    gap: var(--indent);
    flex-wrap: nowrap;
  }

  .customers-item-link {
    padding: 16px 32px;
  }
}

.customers-icon {
  fill: currentColor;
  transition: fill var(--trns-main);
}
.customers-item-link:hover .customers-icon {
  fill: var(--color-ocean);
}
.customers-item-link:focus .customers-icon {
  fill: var(--color-ocean);
}
.customers-item-link:hover {
  border-color: var(--color-ocean);
}
.customers-item-link:focus {
  outline: none;
  border: 1px solid var(--color-ocean);
}
/* --------------------modal------------------------------ */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateY(-1000px) translateX(-190px) rotateX(-60deg) scale(0.4);
  transform-origin: 50% 100%;
}

.backdrop.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0.1;
}

.modal {
  padding-top: 72px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;

  position: fixed;
  top: 50%;
  left: 50%;

  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  opacity: 1;
  transform-origin: 50% 1400px;
  transform: translate(-50%, -50%) rotateX(0) scale(1);

  width: 408px;
  min-height: 576px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  color: black;
  transition: background-color var(--trns-main);
}
.modal-btn:active {
  background-color: var(--color-ocean);
}
.modal-btn-svg {
  fill: currentColor;
}
.modal-btn:active .modal-btn-svg {
  fill: white;
}
.modal__title {
  display: block;
  text-align: center;
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--primary-color);
}
.order-form {
  margin: 0 auto;
}
.order-form__group {
  position: relative;
}
.order-form__label {
  display: block;
  margin-bottom: 4px;

  color: var(--color-light-slate);
  font-size: 12px;
  font-weight: 400;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}
.order-form__label_name {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
}
.order-form__input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 44px;
  margin-bottom: 8px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--trns-main);
}
.order-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.order-form__input:focus + .order-form__input_icon {
  fill: var(--accent-color);
}
.order-form__input_icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  transition: fill var(--trns-main);
}
.order-form__textarea {
  height: 120px;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--trns-main);
}
.order-form__textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 12);
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.04em;
}
.order-form__textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}
.order-form__agreement {
  display: flex;
  align-items: center;

  cursor: pointer;
  margin-bottom: 24px;
}
.order-form_agreement_text {
  display: inline-block;
  margin-left: 8px;

  font-weight: 400;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: #757575;
}
.order-form__agreement_input:focus + .order-form__checkbox {
  outline: 2px solid var(--accent-color);
  border-radius: 2px;
  outline-offset: -2px;
}

.order-form_agreement_link {
  font-size: 13px;
  text-decoration: underline;
  color: var(--accent-color);
}

.order-form__agreement_input:checked
  + .order-form__checkbox
  > .order-form__checkbox_checked {
  opacity: 1;
}
.order-form__checkbox_checked {
  opacity: 0;
  transition: opacity var(--trns-main);
}
.order-form__button {
  margin: 0 auto;
  text-align: center;
  width: 169px;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
}
/* ------portfolio.html------- */
.main-page {
  padding-top: 120px;
  padding-bottom: 120px;
}
.filters-list {
  display: flex;
  justify-content: center;
  gap: 24px;

  margin-bottom: 72px;
}
.filters-item-btn {
  padding: 12px 24px;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--accent-color);
  background-color: var(--color-cloud);
  border: 1px solid var(--color-cornflower);
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: 0.04em;
  border-radius: 4px;

  transition: background-color var(--trns-main), box-shadow var(--trns-main),
    color var(--trns-main);
}
.filters-item-btn:hover,
.filters-item-btn:focus {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--color-ocean);
  color: var(--white-color);
  cursor: pointer;
  border-radius: 4px;
}
.examples-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.examples-list-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.thumb {
  position: relative;
  overflow: hidden;
}
.examples-list-link:hover .overlay {
  transform: translateY(0);
  opacity: 1;
}
.examples-list-link:focus .overlay {
  transform: translateY(0);
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--trns-main);

  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
}
.examples-list-link:hover .thumb-text {
  opacity: 1;
}
.examples-list-link:focus .thumb-text {
  opacity: 1;
}
.thumb-text {
  position: absolute;
  top: 40px;
  left: 32px;
  padding-right: 32px;
  text-align: left;
  color: var(--color-cloud);
  font-size: 16px;
  line-height: calc(24 / 16);
  font-weight: 400;
  letter-spacing: 0.02em;
}
.examples-list-link {
  text-decoration: none;
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.examples-list-link:hover,
.examples-list-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.examples-item-container {
  z-index: 1;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.examples-item-title {
  margin-bottom: 8px;

  font-size: 20px;
  line-height: calc(24 / 20);
  color: var(--primary-color);
}
.examples-item-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--secondary-color);
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--primary-color);
}
.footer-logo {
  display: block;
  margin-bottom: 16px;
}
.footer-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--color-cornflower);
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-left-side {
  margin-right: 120px;
}

.footer-social-paragraph {
  margin-bottom: 15px;

  line-height: calc(24 / 16);
  color: var(--white-color);
  letter-spacing: 0.02em;
}
.footer-socials-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}

.footer-socials-link {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--color-cloud);
  transition: background-color var(--trns-main);
}
.footer-icon {
  fill: currentColor;
}
.footer-form-container {
  margin-left: auto;
}

.subscription-form__label {
  display: block;
  color: var(--white-color);
  margin-bottom: 16px;
}
.subscription-form__flex-container {
  display: flex;
  gap: 24px;
}
.subscripition-form__input {
  display: block;
  height: 40px;
  width: 264px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: white;
}
.subscripition-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;

  transition: background-color var(--trns-main);
}
.subscripition-form__button:hover,
.subscripition-form__button:focus {
  background-color: var(--color-ocean);
}

.subscripition-form__input:focus,
.subscripition-form__input:focus-visible {
  border: 1px solid white;
  outline: none;
}
.subscripition-form__input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(24 / 12);
}
